@font-face {
  font-family: "cooper"; /* This is an arbitrary name -- whatever works for you */
  src: url("https://cdn.glitch.global/a2356aac-4b25-4380-b4c7-356782b63063/Cooper%20Black%20Regular.ttf?v=1698114756634");
}

body {
  font-family: cooper;
  background-image: url("https://cdn.glitch.global/a2356aac-4b25-4380-b4c7-356782b63063/IMG_1366.webp?v=1698117939709");
  color: aliceblue;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  position: fixed;
  top: 0;
  width: 100%;
  position: sticky;
  top: 0;
}

button {
font-family: cooper;
background-color: #04aa6d;
border-style: groove;
border-radius: 20px;
}

li {
  float: left;
  border-right: 1px solid #bbbbbb;
}

li a {
  display: block;
  color: aliceblue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111111;
}

li:last-child {
  border-right: none;
}
.active {
  background-color: #04aa6d;
}
.abouttitle {
  text-align: center;
}
.hometitle {
  text-align: center;
}

button {
  background-color: #04aa6d;
  color: aliceblue;
}
.button:hover {
  background-color: #04ea6d;
  transition: 0.7s;
}

.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}
